header {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}

.burger__menu{
    position: fixed;
    inset: 0;
    backdrop-filter: blur(10px);
    z-index: 999;
    display: none;
    right: 100%;
    opacity: 0;
}


.top {
    padding: 20px 0;
    color: #fff;
    font-size: 14px;
    & > div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.top__right {
    & a,
    & ul {
        display: flex;
        align-items: center;
        font-weight: 700;
        flex-wrap: wrap;
        justify-content: end;
    }

    & li {
        margin: 0 0 0 50px;
        &:first-child{
            margin: 0;
        }
    }

    & svg {
        margin: 0 5px 0 0;
    }

    & a:hover {
        text-shadow: 0 0 10px #fff;

    }
}


.header__items {
    display: flex;
    padding: clamp(10px, 3vw, 20px) clamp(25px, 3vw, 50px);
    align-items: center;
    justify-content: space-between;

    & .logo{
        max-width: 214px;
        min-width: 150px;
        & img{
            width: 100%;
        }
    }
    & .mob__logo{
        display: none;
    }
   
    & nav{
        margin: 0 10px;
    }

    & ul {
        display: flex;
        & li{
            margin: 0 25px 0 0;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 3px;
                border-radius: 3px;
                background-color: #00FFF0;
                transition: all .4s ease-in-out;
            }
            &:hover{
                & a{
                    color: #00FFF0;
                }
                &::after{
                    width: 100%;
                }
            }
            & a{
                display: inline-block;
                padding: 10px 0;
                font-weight: 500;
            }
            &:last-child{
                margin: 0;
            }
        }
    }
}


.burger__btn{
    display: none;
    & input {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
  }
  
  & .bar {
    display: block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 40px;
  }
  
  & .bar span {
    position: absolute;
    width: 45px;
    height: 7px;
    background: #f1faee;
    padding: 0;
    border-radius: 100px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0;
  }
  
  & .bar span.top {
    top: 0;
  }
  
  & .bar span.middle {
    top: 17px;
  }
  
  & .bar span.bottom {
    bottom: 0;
  }
  
  & input[type]:checked ~ span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 48px;
    left: 5px;
  }
  
  & input[type]:checked ~ span.bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 48px;
    bottom: -1px;
    box-shadow: 0 0 10px #495057;
  }
  
  & input[type]:checked ~ span.middle {
    transform: translateX(-20px);
    opacity: 0;
  }
}



@media only screen and (width < 1290px){
    header{
        .top{
            background: #0000007e;
        }
    }
}

@media only screen and (width < 1100px){
    header{
       & .header__items{
        & nav, & button{
            display: none;
        }
       }
       & .top li {
        margin: 0;
       }
    }
    .burger__btn{
        display: block;
        position: fixed;
        right: 15px;
        &.show__menu{
            opacity: 0;
        }
    }
    .burger__menu{
        display: block;
        overflow: hidden;
        &.show__menu{
            right: 0;
            opacity: 1;
        }
        & .menu{
            overflow: auto;
            height: 100%;
            max-width: 250px;
            background-color: #fff;
            & a{
                display: inline-block;
                width: 100%;
                padding: 18px 20px;
                color: var(--globalPrimary);
                font-weight: 500;
            }
            & .mob__logo{
                padding: 20px 0 20px 20px;
                max-width: 170px;
                & a{
                    padding: 0;
                }
                & img{
                    width: 100%;
                }
            }
            & button{
                margin: 15px auto;
            }
        }
    }
    .close__btn{
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: 0;
        scale: .7;
    }
    
}

