@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: Montserrat;
  transition: all .4s ease-in-out;
}

:root {
  --globalPrimary: #2a3988;
}
html{
  scroll-behavior: smooth;
}
.show__burger{
  overflow: hidden;
}
ul {
  padding: 0;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}
#page{
  position: relative;
}

.buy__button {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  background: var(--globalPrimary);
  font-size: clamp(14px, 3vw, 16px);
  font-weight: 700;
  color: #fff;
  padding: clamp(7px, 3vw, 15px) clamp(20px, 3vw, 40px);
  & svg{
    margin: 0 6px 0 0;
  }
  &:hover {
    box-shadow: 0 3px 10px 3px #fff;
    transform: translateY(-3px);
  }
}


.section__title{
  color: var(--globalPrimary);
  font-size: clamp(40px, 5vw, 60px);
  font-weight: 700;
}
.sub__title{
  color: var(--globalPrimary);
  font-size: 24px;
  font-weight: 400;
}